.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 0.25rem;
    border: 1px solid #333; // Dark gray for better contrast
    background: #f1f1f1; // Light gray for a modern look
    color: #333; // Dark gray for better contrast
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #e2e2e2; // Slightly darker gray for hover effect
    }
  }

  .pagination-button:disabled {
    cursor: not-allowed;
    background-color: #e2e2e2; // Slightly darker gray
    color: #999; // Lighter gray for disabled state
  }

  .pagination-button.active {
    background-color: #333; // Dark gray for active state
    color: #fff; // White text for better contrast
  }

  .pagination-select {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 0.25rem;
    border: 1px solid #333; // Dark gray for better contrast
    background: #f1f1f1; // Light gray
    color: #333; // Dark gray for better contrast
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #e2e2e2; // Slightly darker gray
    }
  }
}

.card {
  background: #f9f9f9; // Very light gray for a clean look
  border: 1px solid #ddd; // Light gray border for subtle separation
  color: #333; // Dark gray text for better contrast
  transition: background-color 0.3s, color 0.3s;
}

.card-title {
  background: #e2e2e2; // Slightly darker gray for the title section
  color: #333; // Dark gray text

  .btn-close {
    float: right;
    margin-right: 5px;
    font-size: 16px;
    color: #333; // Dark gray for close button
  }
}

.card-body {
  background: #fff; // White background for body
  color: #333; // Dark gray text
}
